name: Build Grafana
permissions:
  contents: read
  packages: write
on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
  workflow_dispatch:
  schedule:
    - cron: "0 19 * * *"

jobs:
  build:
    uses: ./.github/workflows/_build-grafana.yaml
