# Note that get this to run you need to follow the instructions
# in https://github.com/orgs/community/discussions/27028#discussioncomment-3254367
name: Release tagged version
on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/build-builder

      - name: Changelog
        uses: gembaadvantage/uplift-action@v2
        with:
          args: changelog --no-stage --no-push --ignore-detached

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login ghcr.io
        run: docker login --username ${{ github.repository_owner }} --password ${{ github.token }} ghcr.io

      - name: Pull built CI k6 image to cache
        run: docker pull ghcr.io/${{ github.repository_owner }}/k6:${{ github.sha }}

      - name: Re-Tag image
        shell: bash
        run: |
          make \
            IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/k6 \
            VERSION=${{ github.ref_name }} \
            CACHE_NAME=ghcr.io/${{ github.repository_owner }}/k6:${{ github.sha }} \
            retag-image

      - name: Update changelog with tagged image
        uses: ./.github/actions/run-in-builder
        with:
          cmd: |
            make \
              IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/k6 \
              VERSION=${{ github.ref_name }} \
              update-changelog

      - name: Pull built CI grafana image to cache
        run: docker pull ghcr.io/${{ github.repository_owner }}/grafana-oss:${{ github.sha }}

      - name: Tag cached grafana image
        shell: bash
        run: |
          make \
            GRAFANA_IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/grafana-oss \
            VERSION=${{ github.ref_name }} \
            CACHE_NAME=ghcr.io/${{ github.repository_owner }}/grafana-oss:${{ github.sha }} \
            grafana-tag-cached-image \
            grafana-push-image

      - name: Update changelog with tagged grafana image
        uses: ./.github/actions/run-in-builder
        with:
          cmd: |
            make \
              GRAFANA_IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/grafana-oss \
              VERSION=${{ github.ref_name }} \
              grafana-update-changelog

      - name: Download k6 executable (amd64)
        uses: dawidd6/action-download-artifact@v8
        with:
          workflow: build-test-tag.yaml
          workflow_conclusion: success
          commit: ${{ github.sha }}
          name: k6-amd64

      - name: Download k6 executable (arm64)
        uses: dawidd6/action-download-artifact@v8
        with:
          workflow: build-test-tag.yaml
          workflow_conclusion: success
          commit: ${{ github.sha }}
          name: k6-arm64
      - run: |
          gh release create ${{ github.ref_name }} \
            './k6-amd64#K6 amd64 executable with timestream' \
            './k6-arm64#K6 arm64 executable with timestream' \
            -F CHANGELOG.md
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Release Go package
        uses: ./.github/actions/run-in-builder
        with:
          cmd: make VERSION=${{ github.ref_name }} release-go
